*{
    font-family: Verdana;
    /* max-width:1280px; */
}

.header{
    background-color: #FFFFFF;
    position:fixed;
    top:0;
    width:100%;
    height:24px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    display:inline-block;
    color:#335576;
    margin-left: 114px;
    margin-top: -3px;
    font-size: 20px;
}

.nav{
    display:inline-block;
}

.nav__list{
    list-style-type: none;
    text-align: center;
    display:flex;
    justify-content: space-evenly;
    gap:20px;
    margin-right: 111px;
    font-size: 20px;
    margin-top: 23px;
}

.nav__item{
    display:inline;
}

.nav__item a{
    text-decoration: none;
    color:black;
}

.nav__item--highlight{
    padding-bottom: 10px;;
    border-bottom:4px solid #DB7A4E ;
}

.footer{
    background-color: #FEFAF5;
    width:100%;
    padding-top: 55px;
}

.footer-flex{
    padding:0 20% 0 17%;
    display:flex;
    flex-direction: row;
    justify-content: space-between; 
    gap:10%;
}

.footer__title{
    color:#335576;
    vertical-align: top;
    padding:0;
    font-size:30px;
}

.footer__subtitle{
    color:#DB7A4E;
    font-size:12px;
}

.footer__content{
    color:#335576;
    font-size:1.2rem;
}

.hours-flex{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap:4%;
    padding:0;
    margin-top:-2%;
}

.hours__days{
    width:220px;
    vertical-align: top;
}

.hours__days--reduce{
    width:80px;
}

.social__icon{
    display:flex;
    justify-content: space-evenly;
    gap:40%;
    align-items:end;
    margin-top:50px;
    
}

.social img{
    width:auto;
    height:30px;
}

