.hero{
    margin-top: 9vh;
    scroll-margin-top:30px;
    padding-bottom: 100px;
    background-color: #FEFAF5;
    text-align: left;
    display:flex;
    justify-content: space-between;

}

.hero__description{
    color:#335576;
    margin-top:95px;
    margin-left:115px;
    margin-right: 200px;
}

.hero__description h2{
    font-size:48px;
}

.hero__description p{
    font-size: 19px;
    padding-top: 5px;
}

.hero button{
    background-color: #DB7A4E;
    color:#FFFFFF;
    border: none;
    border-radius: 25px;
    padding:10px;
    font-size: 18px;
    margin-top: 23px;
    height: 50px;
    width: 210px;
    
}

.hero__image img{
    width: 560px;
    height: auto;
    margin-right: 100px;
    margin-top: 75px;
}

.recommend__title{
    color:#335576;
    font-size: 29px;
    margin-left: 113px;
    margin-top: 50px;
    margin-bottom: 34px;
}

.recommend__card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 15%;
    padding-bottom:80px;
}

.recommend__card--element{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    width: 340px;
    position:relative;
    overflow: hidden;
}

.recommend__card--element img{
    max-width:100%;
    height:auto;
    vertical-align: bottom;
}

.recommend__card--dest-name{
    position: absolute;
    bottom: 0; 
    right: 0; 
    z-index:1;
    color:#FEFAF5;
    font-size:30px;
    padding-right:20px;
    margin-bottom: 20px;
    font-weight: bold;

}

