.hero{
    margin-top: 8vh;
    scroll-margin-top:8vh;
    padding-bottom: 5vw;
    background-color: #FEFAF5;
    text-align: left;
    display:flex;
    justify-content: space-between;

}

.hero__description{
    color:#335576;
    margin-top:3.5vw;
    margin-left:6.25vw;
    margin-right: 5vw;
}

.hero__description h2{
    font-size:2.2rem;
    padding-right: 5vw;
}

.hero__description p{
    font-size: 1rem;
    padding-top: 2vw;
}

.hero button{
    background-color: #DB7A4E;
    color:#FFFFFF;
    border: none;
    border-radius: 25px;
    font-size: .9rem;
    margin-top: 2vw;
    height: 1.8vw;
    width: 9vw;
    text-align: center;
    
}

.hero__image img{
    width: 25vw;
    height: auto;
    margin-right: 3vw;
    margin-top: 2.5vw;
}

.recommend__title{
    color:#335576;
    font-size: 1.4rem;
    margin-left: 6.25vw;
    margin-top: 3vw;
    margin-bottom: 1vw;
}

.recommend__card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5vh 18%;
    gap:35px;
    margin-bottom:10vh;
}

.recommend__card--element{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    width: 15vw;
    position:relative;
    overflow: hidden;
}

.recommend__card--element img{
    max-width:100%;
    height:auto;
    vertical-align: bottom;
}

.recommend__card--dest-name{
    position: absolute;
    bottom: 0; 
    right: 0; 
    z-index:1;
    color:#FEFAF5;
    font-size:1.5rem;
    padding-right:20px;
    margin-bottom: 20px;
    font-weight: bold;

}

